<div class="container">
    <h3>About this app</h3>
    <hr />
    <br />
    <p>This is an app built using Node.js, Express.js, MongoDB and Boostrap.
        I built it for the solo project of chingu. In comming versions I will integrate React.js but for now I think
        this is
        enough.
    </p>
    <p>Version: 1.0.0</p>
</div>