.logo {
  width: 175px;
  margin: auto;
}

#navbarTitulo {
  font-weight: bold;
}
#flow-left {
  float: left;
  margin: 0 1px 0 1px;
  padding: auto;
}

.container {
  width: 100%;
}

#notes-size {
  max-width: 50%;
  min-height: 200px;
}

#link-removed {
  text-decoration: none;
}

#flow-left-too {
  float: right;
}
