.logo {
  width: 175px;
  margin: auto;
}

#navbarTitulo {
  font-weight: bold;
}
#flow-left {
  float: right;
  margin: 0 1px 0 1px;
}

.container {
  width: 100%;
}

#notes-size {
  max-width: 34em;
  min-height: 200px;
}

#link-removed {
  text-decoration: none;
}

.card {
  margin: 10px 10px 10px 10px;
}
