.logo {
  width: 175px;
  margin: auto;
}

#navbarTitulo {
  font-weight: bold;
}
#flow-left {
  float: right;
  margin: 0 1px 0 1px;
}

.container {
  width: 100%;
}

#link-removed {
  text-decoration: none;
}

@media (min-width: 34em) {
  .card-deck > .card {
    width: 29%;
    flex-wrap: wrap;
    flex: initial;
  }
}
